body {
    color: aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid midnightblue;
}

header img:hover {
        opacity: 0.5;
}


.center {
    text-align: center;
}

.main {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
}

.just {
    text-align: justify;
}

h1 {
    color: white;
    margin-bottom: 4px;
}

h2 {
    color: midnightblue;
    margin-top: 4px;
}

b {
    color: midnightblue;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 15px;
    text-align: center;
    font-size: 12px;
}

footer img:hover {
        opacity: 0.5;
}

footer p {
    margin-top: 4px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: blue;
}
